In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
'''A F&B manager wants to determine whether there is any significant difference 
in the diameter of the cutlet between two units. A randomly selected sample of cutlets
was collected from both units and measured? Analyze the data and draw inferences 
at 5% significance level. Please state the assumptions and tests that you carried out 
to check validity of the assumptions.
'''

'A F&B manager wants to determine whether there is any significant difference \nin the diameter of the cutlet between two units. A randomly selected sample of cutlets\nwas collected from both units and measured? Analyze the data and draw inferences \nat 5% significance level. Please state the assumptions and tests that you carried out \nto check validity of the assumptions.\n'

In [4]:
cutlets=pd.read_csv("Cutlets.csv")

In [5]:
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
cutlets["Unit A"].mean()

7.01909142857143

In [7]:
cutlets["Unit B"].mean()

6.964297142857142

In [8]:
stats.ttest_ind(cutlets[["Unit A"]],cutlets[["Unit B"]])

Ttest_indResult(statistic=array([0.72286887]), pvalue=array([0.47223947]))

In [9]:
'''A hospital wants to determine whether there is any difference in the
average Turn Around Time (TAT)of reports of the laboratories on their preferred list. 
They collected a random sample and recorded TAT for reports of 4 laboratories. 
TAT is defined as sample collected to report dispatch.
  Analyze the data and determine whether there is any difference 
  in average TAT among the different laboratories at 5% significance level.
'''

'A hospital wants to determine whether there is any difference in the\naverage Turn Around Time (TAT)of reports of the laboratories on their preferred list. \nThey collected a random sample and recorded TAT for reports of 4 laboratories. \nTAT is defined as sample collected to report dispatch.\n  Analyze the data and determine whether there is any difference \n  in average TAT among the different laboratories at 5% significance level.\n'

In [10]:
lab=pd.read_csv("LabTAT.csv")

In [11]:
lab.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [ ]:
lab.iloc[:,1].mean()

In [ ]:
lab.iloc[:,2].mean()

In [ ]:
lab.iloc[:,3].mean()

In [ ]:
lab.iloc[:,0].mean()

In [14]:
#by using ANOVA TEST
stats.f_oneway(lab.iloc[:,0],lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
'''Sales of products in four different regions is tabulated for males and females.
Find if male-female buyer rations are similar across regions.
'''

In [ ]:
#load necessary packages and functions
import scipy.stats as stats
import numpy as np

In [ ]:
buyer=pd.read_csv("BuyerRatio.csv")

In [ ]:
buyer

In [ ]:
buyer1=buyer.iloc[:,1:]

In [ ]:
buyer2 = buyer1.to_numpy()

In [ ]:
buyer2

In [ ]:
#Chi-squared test statistic, sample size, and minimum of rows and columns
stats.chi2_contingency(buyer2)

In [ ]:
#Chi-squared test statistic, sample size, and minimum of rows and columns
X2 = stats.chi2_contingency(buyer2, correction=False)[0]
n = np.sum(buyer2)
minDim = min(buyer2.shape)-1

#calculate Cramer's V 
V = np.sqrt((X2/n) / minDim)

In [ ]:
V

In [ ]:
''' TeleCall uses 4 centers around the globe to process customer order forms.
They audit a certain %  of the customer order forms.
Any error in order form renders it defective and has to be reworked before processing.
The manager wants to check whether the defective %  varies by centre.
Please analyze the data at 5% significance level and help the manager draw appropriate inferences
'''

In [ ]:
order=pd.read_csv('Costomer+OrderForm.csv')

In [ ]:
order.head()

In [ ]:
order.info()

In [ ]:
order.Phillippines.value_counts()

In [ ]:
order.Indonesia.value_counts()

In [ ]:
order.Malta.value_counts()

In [ ]:
order.India.value_counts()

In [ ]:
obs=np.array([[271,267,269,280],[29,33,31,20]])

In [ ]:
chi2_contingency(obs)